.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 4em 2em;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
.section-title .section-heading {
  font-size: 3.4rem;
  font-family: "Peralta", cursive;
  color: rgb(233, 136, 72);
}
.section-title .section-graphic {
  width: 200px;
  height: 100px;
  margin-top: -15px;
}

.section-dark {
  background-color: antiquewhite;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.nav__burger-btn {
  position: fixed;
  padding: 0.5em;
  top: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  border: none;
  background: none;
  z-index: 1000;
  cursor: pointer;
}
.nav__burger-btn-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.nav__burger-btn-box-bars {
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(235, 231, 231);
}
.nav__burger-btn-box-bars::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 50%;
  height: 5px;
  background-color: rgb(235, 231, 231);
  transition: all 0.5s;
}
.nav__burger-btn-box-bars::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  width: 15%;
  height: 5px;
  background-color: rgb(235, 231, 231);
  transition: all 0.5s 0.1s;
}
.nav__burger-btn:hover .nav__burger-btn-box-bars::before,
.nav__burger-btn:hover .nav__burger-btn-box-bars::after {
  width: 100%;
}

.nav__items {
  display: none;
}

.headerImg {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(8, 8, 8, 0.61), rgba(66, 71, 163, 0.4)), url(../img/monk-g271851d7d_640.jpg);
  background-position: center;
  background-size: cover;
}
.headerImg .headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.headerImg .headerText__title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Peralta", cursive;
  text-shadow: 3px 3px 3px rgb(50, 49, 49);
  color: rgb(235, 231, 231);
}
.headerImg .headerText__title .fa-solid {
  font-size: 4.8rem;
  color: rgb(233, 136, 72);
}
.headerImg .headerText__text {
  padding: 0.5em;
  font-size: 2.4rem;
  text-transform: capitalize;
  color: rgb(235, 231, 231);
  font-weight: bold;
}
.headerImg .headerText__btn {
  padding: 0.3em;
  margin-top: 1em;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Peralta", cursive;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(50, 49, 49);
  background-color: rgb(233, 136, 72);
  border-radius: 5px;
  transition: background-color 0.4s;
}
.headerImg .headerText__btn:hover {
  background-color: rgb(235, 231, 231);
}

.aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}
.aboutus__img img {
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 3px 3px 50px rgb(50, 49, 49);
  transition: box-shadow 0.3s;
}
.aboutus__texts-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(233, 136, 72);
}
.aboutus__texts-text {
  text-align: center;
  font-size: 1.5rem;
}

.aboutus__img:hover img {
  box-shadow: 7px 7px 80px rgb(233, 136, 72);
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefits .benefit {
  text-align: center;
}
.benefits .benefit__icon {
  padding: 0.4em;
  font-size: 10rem;
  color: rgb(50, 49, 49);
  transition: color 0.3s;
}
.benefits .benefit__icon:hover, .benefits .benefit__icon:hover + p {
  color: rgb(233, 136, 72);
}
.benefits .benefit__text {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(50, 49, 49);
  transition: color 0.3s;
}

.headerGraphic__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(45deg, rgba(8, 8, 8, 0.61), rgba(66, 71, 163, 0.4)), url(../img/market-gf33bb856c_640.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.headerGraphic__img-text {
  text-align: center;
  font-size: 21px;
  font-family: "Peralta", cursive;
  color: rgb(235, 231, 231);
  text-transform: uppercase;
}
.headerGraphic__img hr {
  width: 30%;
  height: 1px;
  color: rgb(233, 136, 72);
}

.teamsCards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamsCards__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 550px;
  border-radius: 5px;
  margin-bottom: 5em;
  background-position: center;
  background-size: cover;
}
.teamsCards__card h3 {
  position: absolute;
  text-transform: uppercase;
  font-family: "Peralta", cursive;
  font-size: 3.5rem;
  color: rgb(233, 136, 72);
  background-color: rebeccapurple;
  bottom: 15px;
}
.teamsCards__card--one {
  background-image: url(../img/man-gb4b0c0b09_640.jpg);
}
.teamsCards__card--two {
  background-image: url(../img/man-gb4b0c0b09_640.jpg);
}
.teamsCards__card--three {
  background-image: url(../img/man-gb4b0c0b09_640.jpg);
}
.teamsCards__card--four {
  background-image: url(../img/man-gb4b0c0b09_640.jpg);
}
.teamsCards__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-size: 20px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 30px;
  background-color: rgba(0, 0, 0, 0.657);
  color: rgb(235, 231, 231);
  -webkit-clip-path: circle(0% at 50% 90%);
          clip-path: circle(0% at 50% 90%);
  transition: -webkit-clip-path 0.8s;
  transition: clip-path 0.8s;
  transition: clip-path 0.8s, -webkit-clip-path 0.8s;
}
.teamsCards .teamsCards__card:hover .teamsCards__text {
  -webkit-clip-path: circle(100% at 50% 90%);
          clip-path: circle(100% at 50% 90%);
}

@media (min-width: 576px) {
  .section-title .section-heading {
    font-size: 3.7rem;
  }
  .section-title .section-graphic {
    width: 200px;
    height: 100px;
    margin-top: -15px;
  }
  .aboutus__img img {
    width: 220px;
    height: 220px;
  }
  .aboutus__texts-title {
    font-size: 1.9rem;
  }
  .aboutus__texts-text {
    font-size: 1.7rem;
  }
  .headerGraphic__img-text {
    font-size: 35px;
  }
  .headerGraphic__img hr {
    width: 25%;
    height: 3px;
  }
}
@media (min-width: 768px) {
  .headerImg {
    background-image: linear-gradient(45deg, rgba(8, 8, 8, 0.61), rgba(66, 71, 163, 0.4)), url(../img/monk-gabcf407e2_1920.jpg);
  }
  .headerImg .headerText {
    width: 75%;
  }
  .headerImg .headerText__title {
    font-size: 6rem;
  }
  .headerImg .headerText__title .fa-solid {
    font-size: 6rem;
  }
  .headerImg .headerText__text {
    padding-top: 0.5em;
    font-size: 2.7rem;
  }
  .headerImg .headerText__btn {
    font-size: 2.3rem;
  }
  .nav__burger-btn {
    display: none;
  }
  .nav__items {
    display: flex;
    position: fixed;
    justify-content: end;
    top: 15px;
    right: 3%;
    z-index: 10;
    width: 100%;
    font-size: 1.5rem;
  }
  .nav__items-item {
    position: relative;
    color: rgb(235, 231, 231);
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.4s;
  }
  .nav__items-item:hover {
    color: rgb(233, 136, 72);
  }
  .line::before,
.line::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 0.6px solid rgb(235, 231, 231);
    opacity: 0;
    transition: all 0.4s;
  }
  .line::before {
    left: 50%;
  }
  .line::after {
    right: 50%;
  }
  .line:hover.line::before,
.line:hover.line::after {
    width: 50%;
    opacity: 1;
  }
  .section-title .section-heading {
    font-size: 4.4rem;
  }
  .section-title .section-graphic {
    width: 250px;
    height: 150px;
    margin-top: -15px;
  }
  .aboutus {
    flex-direction: row;
  }
  .aboutus__img img {
    width: 250px;
    height: 250px;
  }
  .aboutus__img--right {
    order: 1;
  }
  .aboutus__texts-title {
    text-align: left;
    font-size: 2.4rem;
  }
  .aboutus__texts-text {
    text-align: left;
    font-size: 1.9rem;
  }
  .aboutus__texts--right {
    text-align: right;
  }
  .benefits {
    flex-direction: row;
    justify-content: space-between;
  }
  .benefits .benefit__icon {
    font-size: 6rem;
  }
  .benefits .benefit__text {
    font-size: 1.2rem;
  }
  .headerGraphic__img {
    background-image: linear-gradient(45deg, rgba(8, 8, 8, 0.61), rgba(66, 71, 163, 0.4)), url(../img/market-gcf515c2f0_1920.jpg);
  }
  .headerGraphic__img-text {
    font-size: 45px;
  }
  .headerGraphic__img hr {
    width: 25%;
    height: 3px;
  }
  .teamsCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .teamsCards__card {
    margin: 5px 5px;
  }
}
@media (min-width: 992px) {
  .headerImg .headerText {
    width: 75%;
  }
  .headerImg .headerText__title {
    font-size: 8rem;
  }
  .headerImg .headerText__title .fa-solid {
    font-size: 8rem;
  }
  .headerImg .headerText__text {
    padding-top: 0.5em;
    font-size: 3rem;
  }
  .headerImg .headerText__btn {
    font-size: 2.7rem;
  }
  .nav__items {
    font-size: 2rem;
  }
  .aboutus__img img {
    width: 300px;
    height: 300px;
  }
  .aboutus__img--right {
    order: 1;
  }
  .aboutus__texts-title {
    font-size: 3rem;
  }
  .section-title .section-heading {
    font-size: 5rem;
  }
  .section-title .section-graphic {
    width: 300px;
    height: 150px;
    margin-top: -15px;
  }
  .benefits .benefit__icon {
    font-size: 10rem;
  }
  .benefits .benefit__text {
    font-size: 1.9rem;
  }
  .headerGraphic__img-text {
    font-size: 55px;
  }
  .headerGraphic__img hr {
    width: 25%;
    height: 3px;
  }
  .teamsCards__card {
    width: 290px;
    height: 550px;
  }
}
@media (min-width: 1100px) {
  .headerImg .headerText {
    width: 67%;
  }
  .headerImg .headerText__title {
    font-size: 10rem;
  }
  .headerImg .headerText__title .fa-solid {
    font-size: 10rem;
  }
  .headerImg .headerText__text {
    padding-top: 0.5em;
    font-size: 4rem;
  }
  .headerImg .headerText__btn {
    font-size: 3rem;
  }
  .nav__items {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */