$pure-white: rgb(235, 231, 231);
$pure-black:rgb(50, 49, 49);
$main-color: rgb(233, 136, 72);
$header-gradient: linear-gradient(
	45deg,
	rgba(8, 8, 8, 0.61),
	#4247a366
);
$section-dark:antiquewhite; 
