// Responsywność na stronie********************************************
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
// Pading na każdej sekcji*********************************************
.section-padding {
	padding: 6em 2em;
}
//Tytuł każdej sekcji z podkreśleniem miotłą***************************
.section-title {
	text-transform: uppercase;
	text-align: center;
	.section-heading {
		font-size: 4rem;
		font-family:'Peralta', cursive;;
		color: $main-color;
	}
	.section-graphic {
		width: 200px;
		height: 100px;
		margin-top: -15px;
	}
}
