//importy----------------------
@import './colors';
@import './component';
//reset------------------------
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
}

//NAV--------------------------------

.nav__burger-btn {
	position: fixed;
	padding: 0.5em;
	top: 25px;
	right: 25px;
	width: 45px;
	height: 45px;
	border: none;
	background: none;
	z-index: 1000;
	cursor: pointer;

	&-box {
		position: relative;
		width: 100%;
		height: 100%;
		&-bars {
			position: absolute;
			top: 0px;
			right: 0;
			width: 100%;
			height: 5px;
			background-color: $pure-white;
			&::after {
				content: '';
				position: absolute;
				top: 13px;
				right: 0;
				width: 50%;
				height: 5px;
				background-color: $pure-white;
				transition: all 0.5s;
			}
			&::before {
				content: '';
				position: absolute;
				top: 27px;
				right: 0;
				width: 15%;
				height: 5px;
				background-color: $pure-white;
				transition: all 0.5s 0.1s;
			}
		}
	}
	&:hover {
		.nav__burger-btn-box-bars::before,
		.nav__burger-btn-box-bars::after {
			width: 100%;
		}
	}
}
.nav__items {
	display: none;
}

//HEADER-----------------------------------

.headerImg {
	position: relative;
	height: 100vh;
	background-image: $header-gradient, url(../img/monk-g271851d7d_640.jpg);
	background-position: center;
	background-size: cover;

	.headerText {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		&__title {
			font-size: 4rem;
			font-weight: bold;
			text-transform: uppercase;
			font-family: 'Peralta', cursive;
			text-shadow: 3px 3px 3px $pure-black;
			color: $pure-white;
			.fa-solid {
				font-size: 4.8rem;
				color: $main-color;
			}
		}
		&__text {
			padding: 0.5em;
			font-size: 2.4rem;
			text-transform: capitalize;
			color: $pure-white;
			font-weight: bold;
		}
		&__btn {
			padding: 0.3em;
			margin-top: 1em;
			font-weight: bold;
			font-size: 2rem;
			font-family: 'Peralta', cursive;
			border: none;
			text-decoration: none;
			text-transform: uppercase;
			color: $pure-black;
			background-color: $main-color;
			border-radius: 5px;
			transition: background-color 0.4s;
			&:hover {
				background-color: $pure-white;
			}
		}
	}
}

//ABOUTUS--------------------------------------------

.aboutus {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4em;
	&__img {
		img {
			margin-right: 25px;
			margin-left: 25px;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			box-shadow: 3px 3px 50px $pure-black;
			transition: box-shadow 0.3s;
		}
	}
	&__texts {
		&-title {
			margin-top: 25px;
			margin-bottom: 25px;
			font-size: 1.7rem;
			text-align: center;
			text-transform: uppercase;
			color: $main-color;
		}
		&-text {
			text-align: center;
			font-size: 1.5rem;
		}
	}
}
.aboutus__img:hover img {
	box-shadow: 7px 7px 80px $main-color;
}

//Benefits--------------------------------------------

.benefits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.benefit {
		text-align: center;
		&__icon {
			padding: 0.4em;
			font-size: 10rem;
			color: $pure-black;
			transition: color 0.3s;
			&:hover,
			&:hover + p {
				color: $main-color;
			}
		}
		&__text {
			font-size: 2.5rem;
			text-transform: uppercase;
			color: $pure-black;
			transition: color 0.3s;
		}
	}
}

//Offer

.offersAll {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.offer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	perspective: 1000px;
}
.offer__card-img {
	position: relative;
	width: 300px;
	height: 500px;
	border-radius: 8px;
	transition: all 1s;

	&-title {
		position: absolute;
		color: $pure-white;
		font-family: 'Peralta', cursive;
		text-transform: uppercase;
		text-align: center;
		font-size: 2rem;
		top: 30px;
	}
	&-info {
		position: absolute;
		color: $pure-white;
		text-transform: capitalize;
		margin-left: 30px;
		font-size: 2rem;
		bottom: 30px;
	}
	&--first {
		background-image: $header-gradient, url(../img/bronz.jpg);
		background-size: cover;
		background-position: center;
	}
	&--second {
		background-image: $header-gradient, url(../img/silver.jpg);
		background-size: cover;
		background-position: center;
	}
	&--third {
		background-image: $header-gradient, url(../img/gold.jpg);
		background-size: cover;
		background-position: center;
	}
}
.offer:hover {
	.offer__card-img {
		transform: rotateY(-180deg);
		opacity: 0;
	}
	.offer__card-info {
		transform: rotateY(0);
		opacity: 1;
	}
}

.offer__card-info {
	position: absolute;
	width: 300px;
	height: 500px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	opacity: 0;
	transform: rotateY(180deg);
	transition: transform 1s, opacity 1s;
	&--first {
		background-color: $bronz-gradient;
	}
	&--second {
		background-color: $silver-gradient;
	}
	&--third {
		background-color: $gold-gradient;
	}

	&-title {
		position: absolute;
		color: $pure-white;
		font-family: 'Peralta', cursive;
		text-transform: uppercase;
		text-align: center;
		font-size: 2rem;
		top: 30px;
	}
	&-list {
		color: $pure-white;
		text-transform: capitalize;
		font-size: 1.5rem;
		top: 50px;
		font-size: 2rem;
	}
	&-btn {
		position: absolute;
		bottom: 12px;
		width: 200px;
		padding: 10px;
		font-size: 2.5rem;
		font-family: 'Peralta', cursive;
		color: $pure-white;
		font-weight: bold;
		border: none;
		background-color: $main-color;
		border-radius: 5px;
		transition: all 0.6s;
		cursor: pointer;
		&:hover {
			background-color: $pure-white;
			color: $main-color;
		}
	}
}

//headerGraphic-----------------------------------------------------

.headerGraphic {
	&__img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 75vh;
		background-image: $header-gradient, url(../img/market-gf33bb856c_640.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		&-text {
			text-align: center;
			font-size: 21px;
			font-family: 'Peralta', cursive;
			color: $pure-white;
			text-transform: uppercase;
		}
		hr {
			width: 30%;
			height: 1px;
			color: $main-color;
		}
	}
}

//Teams--------------------------------------------------------------------

.teamsCards {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__card {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
		height: 550px;
		border-radius: 7px;
		margin-bottom: 5em;
		background-position: center;
		background-size: cover;

		h3 {
			position: absolute;
			text-transform: uppercase;
			font-family: 'Peralta', cursive;
			font-size: 3.5rem;
			color: $pure-white;
			text-shadow: 3px 3px 3px $pure-black;
			bottom: 15px;
			transition: clip-path 1s;
		}

		&--one {
			background-image: url(../img/Halina.jpg);
		}
		&--two {
			background-image: url(../img/Beata.jpg);
		}
		&--three {
			background-image: url(../img/Robert.jpg);
		}
		&--four {
			background-image: url(../img/Martyna.jpg);
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		font-size: 27px;
		text-align: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 80px 30px;
		background-color: rgba(233, 136, 72, 0.809);
		color: $pure-white;
		text-shadow: 3px 3px 3px $pure-black;
		overflow: hidden;
		clip-path: circle(0% at 50% 90%);
		transition: clip-path 0.8s;
	}
	.teamsCards__card:hover {
		.teamsCards__text {
			clip-path: circle(100% at 50% 90%);
		}
		h3 {
			display: none;
		}
	}
}

//opinions

.opinionsBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.opinion {
	position: relative;
	width: 300px;
	height: 350px;
	margin-bottom: 70px;
	background-color: $pure-white;
	border-radius: 10px;
	border: 5px solid $main-color;
	margin: 45px 50px;
	transition: transform 0.4s;

	&__img {
		position: absolute;
		top: -40px;
		left: -25px;
		width: 100px;
		height: 100px;
		background-position: center;
		background-size: cover;
		border-radius: 50%;
		border: 5px solid $main-color;

		&--one {
			background-image: url(../img/man-g03cc83d7a_640.jpg);
		}
		&--two {
			background-image: url(../img/proud-woman-gd45478f44_640.jpg);
		}
		&--three {
			background-image: url(../img/woman-g91a10f501_640.jpg);
		}
		&--four {
			background-image: url(../img/nice-g2169c7f09_640.jpg);
		}
	}
	&__info {
		position: absolute;
		top: 70px;
		padding: 15px;
		h3 {
			font-family: 'Peralta', cursive;
			font-size: 2.3rem;
			margin-bottom: 5px;
			color: $main-color;
		}
		p {
			font-size: 1.5rem;
			.fa-solid {
				font-size: 2rem;
				color: $main-color;
			}
		}
	}
}
.opinion:hover {
	transform: scale(0.9);
}

//Kontakt----------------------------------------------------
.contact {
	background-image: $header-gradient, url(../img/Contactsmall.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

//MEDIA----------------------------------------------

@media (min-width: 576px) {
	.section-title {
		.section-heading {
			font-size: 3.7rem;
		}
		.section-graphic {
			width: 200px;
			height: 100px;
			margin-top: -15px;
		}
	}

	.aboutus {
		&__img {
			img {
				width: 220px;
				height: 220px;
			}
		}
		&__texts {
			&-title {
				font-size: 1.9rem;
			}
			&-text {
				font-size: 1.7rem;
			}
		}
	}
	.headerGraphic {
		&__img {
			&-text {
				font-size: 35px;
			}
			hr {
				width: 25%;
				height: 3px;
			}
		}
	}
}

@media (min-width: 768px) {
	.headerImg {
		background-image: $header-gradient, url(../img/monk-gabcf407e2_1920.jpg);
		.headerText {
			width: 75%;
			&__title {
				font-size: 6rem;
				.fa-solid {
					font-size: 6rem;
				}
			}
			&__text {
				padding-top: 0.5em;
				font-size: 2.7rem;
			}
			&__btn {
				font-size: 2.3rem;
			}
		}
	}
	.nav__burger-btn {
		display: none;
	}
	.nav__items {
		display: flex;
		position: fixed;
		justify-content: end;
		right: 0;
		z-index: 10;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.541);
		&-item {
			position: relative;
			left: -30px;
			color: $pure-white;
			padding: 0 15px;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.4s;
			&--home {
				left: -30%;
				font-family: 'Peralta', cursive;
				color: $pure-white;
				i {
					margin-right: 5px;
					color: $main-color;
				}
			}
			&:hover {
				color: $main-color;
			}
		}
	}
	.line::before,
	.line::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border: 0.6px solid $pure-white;
		opacity: 0;
		transition: all 0.4s;
	}

	.line::before {
		left: 50%;
	}

	.line::after {
		right: 50%;
	}

	.line:hover.line::before,
	.line:hover.line::after {
		width: 50%;
		opacity: 1;
	}
	.section-title {
		.section-heading {
			font-size: 4.4rem;
		}
		.section-graphic {
			width: 250px;
			height: 150px;
			margin-top: -15px;
		}
	}
	.aboutus {
		flex-direction: row;
		&__img {
			img {
				width: 250px;
				height: 250px;
			}
			&--right {
				order: 1;
			}
		}
		&__texts {
			&-title {
				text-align: left;
				font-size: 2.4rem;
			}
			&-text {
				text-align: left;
				font-size: 1.9rem;
			}
			&--right {
				text-align: right;
			}
		}
	}
	.benefits {
		flex-direction: row;
		justify-content: space-between;
		.benefit {
			&__icon {
				font-size: 6rem;
			}
			&__text {
				font-size: 1.2rem;
			}
		}
	}
	.headerGraphic {
		&__img {
			background-image: $header-gradient, url(../img/market-gcf515c2f0_1920.jpg);
			&-text {
				font-size: 45px;
			}
			hr {
				width: 25%;
				height: 3px;
			}
		}
	}
	.teamsCards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		&__card {
			margin: 5px 5px;
		}
	}
	.contact {
		background-image: $header-gradient, url(../img/Contact.jpg);
	}
	.offersAll {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: 992px) {
	.headerImg {
		.headerText {
			width: 75%;
			&__title {
				font-size: 8rem;
				.fa-solid {
					font-size: 8rem;
				}
			}
			&__text {
				padding-top: 0.5em;
				font-size: 3rem;
			}
			&__btn {
				font-size: 2.7rem;
			}
		}
	}

	.nav__items {
		font-size: 2rem;
	}

	.aboutus {
		&__img {
			img {
				width: 300px;
				height: 300px;
			}
			&--right {
				order: 1;
			}
		}
		&__texts {
			&-title {
				font-size: 3rem;
			}
		}
	}
	.section-title {
		.section-heading {
			font-size: 5rem;
		}
		.section-graphic {
			width: 300px;
			height: 150px;
			margin-top: -15px;
		}
	}
	.benefits {
		.benefit {
			&__icon {
				font-size: 10rem;
			}
			&__text {
				font-size: 1.9rem;
			}
		}
	}
	.headerGraphic {
		&__img {
			&-text {
				font-size: 55px;
			}
			hr {
				width: 25%;
				height: 3px;
			}
		}
	}
	.teamsCards {
		&__card {
			width: 290px;
			height: 550px;
		}
	}
}

@media (min-width: 1100px) {
	.headerImg {
		.headerText {
			width: 67%;
			&__title {
				font-size: 10rem;
				.fa-solid {
					font-size: 10rem;
				}
			}
			&__text {
				padding-top: 0.5em;
				font-size: 4rem;
			}
			&__btn {
				font-size: 3rem;
			}
		}
	}
	.nav__items {
		font-size: 2.5rem;
	}
}
